extends _template
block body
  -var page = 'index';
  #movie-index.tabcontent
    header
      .container.d-flex.justify-content-center.p-4
        a(href='allmovie.html')
          button.btn.btn-outline-dark.px-4
            .sprite-table
            |ดูภาพยนต์ทั้งหมด
    #movie-carousel
      figure
        .container
          img(src="images/incredibles.jpg", alt="The incredibles 2").d-block.mx-auto.poster
          .d-flex.justify-content-center.align-items-center.flex-column.movie-detail
            a.btn.booking-btn(href='showing-time.html') ซื้อตั๋ว
            h2.pt-2.movie-detail__title  Incredibles 2
            h5.movie-detail__sec-title  รวมเหล่ายอดคนพิทักษ์โลก 2
            span.movie-detail__genre  Comedy                   
      figure
        .container
          img(src="images/jurassic-world-2-poster.jpg", alt="jurassic world 2").d-block.mx-auto.poster
          .d-flex.justify-content-center.align-items-center.flex-column.movie-detail
            a.btn.booking-btn(href='showing-time.html') ซื้อตั๋ว   
            h2.pt-2.movie-detail__title Jurassic World 2
            h5.movie-detail__sec-title จูราสสิค เวิลด์ 2 อาณาจักรล่มสลาย
            span.movie-detail__genre Action                   
      figure
        .container
          img(src="images/wir2.jpg", alt="wreck it ralph 2").d-block.mx-auto.poster
          .d-flex.justify-content-center.align-items-center.flex-column.movie-detail
            a.btn.booking-btn(href='showing-time.html') ซื้อตั๋ว                    
            h2.pt-2.movie-detail__title WRECK IT RALPH 2
            h5.movie-detail__sec-title.text-center วายร้ายหัวใจฮีโร่ 2 ราล์ฟตะลุยโลกอินเตอร์เน็ต
            span.movie-detail__genre Comedy 
      figure
        .container
          img(src="images/prauma.jpg", alt="เพรชพระอุมา").d-block.mx-auto.poster
          .d-flex.justify-content-center.align-items-center.flex-column.movie-detail
            a.btn.booking-btn(href='showing-time.html') ซื้อตั๋ว
            h2.pt-2.movie-detail__title Petch Pra Uma
            h5.movie-detail__sec-title เพชรพระอุมา
            span.movie-detail__genre Action, Adventure            
  #cinema-index.tabcontent(style='display:none;')
    a(href='')
      .card
        .card-body.d-flex.align-items-center
          img(src="images/quartier-cineart.png", alt="" height='72')
          .card-title ควอเทียร์ ซีเนอาร์ต
    a(href='')
      .card.mt-3
        .card-body.d-flex.align-items-center
          img(src="images/paragoncine.jpg", alt="" height='72')
          .card-title พารากอน ซีนีเพล็ก
    a(href='')
      .card.mt-3
        .card-body.d-flex.align-items-center
          img(src="images/Majorcineplexlogo.png", alt="" height='72')
          .card-title.pl-2 เมเจอร์ซีนีเพล็ก
  #ticket-index.tabcontent(style='display:none;')
    .container.pt-3
        .row
          .col-4
            img(src="images/incredibles.jpg", alt="").img-fluid
          .col-8
            .ticket-movie__title Incredibles 2
            .ticket-movie__subtitle รวมเหล่ายอดคนพิทักษ์โลก 2
            .ticket-movie__genre Comedy
            .ticket-movie__timelength 118 นาที
        .row.py-2
          .col-6
           .ticket-movie__branchTitle สาขา    
           .ticket-movie__branch ควอเทียร์ ซีเนอาร์ต
          .col-6.d-flex.align-items-end.justify-content-around
            a(href='').ticket-movie__map ดูแผนที่
        .row.py-2
          .col-6
           .ticket-movie__dateTitle วันที่    
           .ticket-movie__date 3 ก.ย.
          .col-6
            .ticket-movie__timeTitle เวลา
            .ticket-movie__time 19:40
        .row.py-2
          .col-6
           .ticket-movie__cinemaTitle โรงภาพยนต์    
           .ticket-movie__cinema 3 
          .col-6
            .ticket-movie__seatTitle หมายเลขที่นั่ง
            .ticket-movie__seat J4,J5,VP1,VP2
        .row.py-2.border-top
          .col-12
            img(src="images/qr.png", alt="").d-block.mx-auto.h-50
            .ticket-movie__code WJM28PZ        
  .nav-tabs.navbar-nav.navbar-bottom.fixed-bottom
    .row.text-center
      .col.py-2.d-flex.flex-column.tablinks.align-items-center.bottom-navtab#movie-tab(style='border-top: 3px solid #ff8200;'  onclick="navToggle(event, 'movie-index')")
        .sprite-movie 
        |ภาพยนต์
      .col.py-2.d-flex.flex-column.tablinks.align-items-center.bottom-navtab#cinema-tab(onclick="navToggle(event, 'cinema-index')")
        .sprite-cinema 
        |โรงภาพยนต์ 
      .col.py-2.d-flex.flex-column.tablinks.align-items-center.bottom-navtab#ticket-tab(onclick="navToggle(event, 'ticket-index')")
        .sprite-ticket
        |ตั๋วหนัง


