extends _template
block body
  #cinema-time
    .card
      .card-body
        .card-title ควอเทียร์ ซีเนอาร์ต
        .card-subtitle Theatre 3
        .card-text.d-flex.justify-content-around.pt-2
          a(href='seat.html').time-available.btn.disabled.btn-secondary 15:30
          a(href='seat.html').time-available 19:40
          a(href='seat.html').time-available 22:00
    .card.mt-3
      .card-body
        .card-title พารากอน ซีนีเพล็ก
        .card-subtitle Theatre 2
        .card-text.d-flex.justify-content-around.pt-2
          a(href='seat.html').time-available.btn.disabled.btn-secondary 17:15
          a(href='seat.html').time-available 20:30
    .card.mt-3
      .card-body
        .card-title พาราไดซ์ ซีนีเพล็ก
        .card-subtitle Theatre 7
        .card-text.d-flex.justify-content-around.pt-2
          a(href='seat.html').time-available.btn.disabled.btn-secondary 14:40
          a(href='seat.html').time-available 20:30