
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/slick-carousel/slick/slick.css';

body{
  &::after{
    content: '';
    position: absolute;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
    height: 812px;
  }
}

.booking-btn{
  background-color: #ff8200;
  color:#fff;
  width: 90%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-bottom{
  background-color: #fff;
  box-shadow: 0 10px 11px 5px #333;
  color:#9ca4ab;
}

.poster{
  height: 320px;
}

.movie-detail{
  padding-top: 24px;
  &__title{
    font-size: 1.2rem;
  }
  &__sec-title{
    font-size: 14px;
  }
  &__genre{
    color:#9ca4ab;
  }
}