
@import '../node_modules/bootstrap/scss/bootstrap';
.slick-slider{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

body{
  // &::after{
  //   content: '';
  //   position: fixed;
  //   opacity: 0.15;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   background: url(images/bg.jpg);
  //   background-position: center;
  //   background-size: cover;
  //   z-index: -1;
  //   height:100%;
  // }
  width: 100vw;
  height: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 100px;
}
.sprite{
  display: inline-block;
  background: url(images/Artboard.png) no-repeat;
  vertical-align: middle;
  &-table{
    @extend .sprite;
    background-position: -69px -6px; 
    width: 13px;
    height: 13px;
    margin-right: 5px;
  }
  &-movie{
    @extend .sprite;
    background-position: -5px -6px; 
    width: 25px;
    height: 22px;
  }
  &-cinema{
    @extend .sprite;
    background-position: -40px -6px; 
    width: 19px;
    height: 25px;
  }
  &-ticket{
    @extend .sprite;
    background-position: -92px -6px; 
    width: 33px;
    height: 38px;
  }
}

.bottom-navtab{
  &.active{
    .sprite-movie{
      background-position: -5px -48px; 
    }
    .sprite-cinema{
      background-position: -40px -48px; 
      }
    .sprite-ticket{
      background-position: -92px -48px; 
      }
  }
}

.booking-btn{
  background-color: #ff8200;
  color:#fff;
  width: 90%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-bottom{
  background-color: #fff;
  box-shadow: 0 10px 11px 5px #333;
  color:#9ca4ab;
}

.poster{
  height: 320px;
}

.movie-detail{
  padding-top: 24px;
  &__title{
    font-size: 1.2rem;
  }
  &__sec-title{
    font-size: 14px;
  }
  &__genre{
    color:#9ca4ab;
  }
}

.time-available{
  border:1px solid #ff8200;
  padding: 4px 16px;
  border-radius: 4px;
  color:#ff8200;
}
.seat-title{
  background-color:#fff;
  font-size: 1.5rem;
}

.proceed-btn{
  background-color: #ff8200;
  color:#fff;
  font-size: 1.25rem;
}
.seat-selected{
  color:#000;
}
.seat-price {
  font-weight: bold;
  color:#000;
}
#ticket,#ticket-index{
  background-color: #fff;
}

.ticket-movie{
  &__title{
    font-weight: bold;
    font-size: 1.5rem;
  }
  &__subtitle{
    font-weight: bold;
  }
  &__genre,&__timelength{
    color:#9ca4ab;
    font-size: 0.875rem;
  }
  &__branchTitle,&__dateTitle,&__timeTitle,&__cinemaTitle,&__seatTitle{
    color:#9ca4ab;
    font-size: 0.75rem;
  }
  &__map{
    font-size: 0.875rem;
    color:#ff8200;
  }
  &__code{
    color:#ff8200;
    text-align: center;
  }
}

.allmovie{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: .5rem;
  margin-top: 1rem;
  &__title{ 
    text-align: center;
    font-size: 1.5rem;
  }
  &__cell{
    img{
      height: 100px;
    }
    &__name{
      text-align: center;
      font-size: 0.875rem;
    }
  }
}