
@import '../node_modules/bootstrap/scss/bootstrap';

body{
  &::after{
    content: '';
    position: absolute;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
  height: 100vh;
  overflow: hidden;
}

.booking-btn{
  background-color: #ff8200;
  color:#fff;
  width: 90%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-bottom{
  background-color: #fff;
  box-shadow: 0 10px 11px 5px #333;
  color:#9ca4ab;
}

.poster{
  height: 320px;
}

.movie-detail{
  padding-top: 24px;
  &__title{
    font-size: 1.2rem;
  }
  &__sec-title{
    font-size: 14px;
  }
  &__genre{
    color:#9ca4ab;
  }
}

.time-available{
  border:1px solid #ff8200;
  padding: 4px 16px;
  border-radius: 4px;
  color:#ff8200;
}
.seat-title{
  background-color:#fff;
  font-size: 1.5rem;
}

.proceed-btn{
  background-color: #ff8200;
  color:#fff;
  font-size: 1.25rem;
}
.seat-selected{
  color:#000;
}
.seat-price {
  font-weight: bold;
  color:#000;
}
#ticket,#ticket-index{
  background-color: #fff;
}

.ticket-movie{
  &__title{
    font-weight: bold;
    font-size: 1.5rem;
  }
  &__subtitle{
    font-weight: bold;
  }
  &__genre,&__timelength{
    color:#9ca4ab;
    font-size: 0.875rem;
  }
  &__branchTitle,&__dateTitle,&__timeTitle,&__cinemaTitle,&__seatTitle{
    color:#9ca4ab;
    font-size: 0.75rem;
  }
  &__map{
    font-size: 0.875rem;
    color:#ff8200;
  }
  &__code{
    color:#ff8200;
    text-align: center;
  }
}